<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JDWorkspace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BE2D7D71D24A934005FB9F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE2D7F01D24A934005FB9F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE2D7FB1D24A935005FB9F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
